<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" type="image/ico" href="/img/star.ico">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Shop</title>

	<style>

	</style>	


    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
	

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Angular -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
	<script src="http://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
	
</head>

  <body ng-controller="rootCtrl" ng-init="parseIngredients()">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Moncur Food</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html"><span class="glyphicon glyphicon-th-list"></span> Menu</a></li>
			<li class="active"><a href="shop.html"><span class="glyphicon glyphicon-usd"></span> Shop</a></li>
			<li><a href="input.html"><span class="glyphicon glyphicon-plus"></span> Recipe</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- Start Main Container -->
    <div class="container">
		<div class="starter-template">
			<h1>Moncur Shopping List</h1>
		</div>
		
        <div class="input-group">
          <input ng-model="customIngredient" class="form-control" type="text" placeholder="add an item to your shopping list..." ui-keypress="{13:'addCustomIngredient($event)'}" />
            
          <span class="input-group-btn">
            <button class="btn btn-info" ><span ng-click="addCustomIngredient()" class="glyphicon glyphicon-ok"></span></button>
          </span>
        </div>
        
        <h2 ng-show="db.selectedIngredients.length">Shopping List</h2>
		<table class="table table-condensed" ng-show="db.selectedIngredients.length" >
			<tr ng-repeat="i in db.selectedIngredients | orderBy:'name'" ng-hide="i.checked">
				<td width="3%"><input class="checkbox" type="checkbox" ng-model="i.checked" /></td>
				<td width="94%">{{i.name}} {{i.note}} <span ng-show="i.amount || i.unit">({{i.amount}} {{i.unit}})</span></td>
                <td width="3%"><span ng-click="removeIngredient(i)" class="glyphicon glyphicon-remove deleteRecipe"></span></td>
			</tr>
            <tr ng-repeat="i in db.selectedIngredients | orderBy:'name'" ng-show="i.checked">
				<td width="3%"><input class="checkbox" type="checkbox" ng-model="i.checked" /></td>
				<td width="94%">{{i.name}} {{i.note}} <span ng-show="i.amount || i.unit">({{i.amount}} {{i.unit}})</span></td>
                <td width="3%"><span ng-click="removeIngredient(i)" class="glyphicon glyphicon-remove deleteRecipe"></span></td>
			</tr>
            
		</table>
        
        <h2>Selected Recipes</h2>
		<ul class="list-group">
			<li ng-repeat="r in db.recipes | orderBy:ui.menu.sort | filter:!selected" class="list-group-item recipeLi" ><input type="checkbox" ng-change="selectRecipe(r)" ng-model="r.selected" /> {{r.title}} <span ng-repeat="c in r.categories" class="badge">{{c}}</span></li>
		</ul>
        
        <h2>Find a Recipe</h2>
		<input type="text" class="form-control" placeholder="Search" style="margin:5px 0;" ng-model="searchFilter" />
		<ul class="list-group">
			<li ng-repeat="r in db.recipes | orderBy:ui.menu.sort | filter:searchFilter" class="list-group-item recipeLi" ><input type="checkbox" ng-change="selectRecipe(r)" ng-model="r.selected" /> {{r.title}} <span ng-repeat="c in r.categories" class="badge">{{c}}</span></li>
		</ul>
		
		
		
		
		

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="angular/jquery.1.11.1.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
	<script src="http://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>
    <script src="http://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
	
	<!-- <script src="angular/angular.min.js"></script> -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="bootstrap/js/ui-utils.min.js"></script>
	<script src="js/index.js"></script>
	
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script> -->
	<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
	
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
  </body>
</html>
